.aboutContainer
{
    display: flex;
}
.aboutLeft
{
    width: 100%;
    font-weight: 500;
}
.aboutLeft h2{
    font-size: 76px;
}

.aboutTitle
{
    font-size: 30px;
}
.skills ul 
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
}
.skills ul li
{
    padding: 10px 20px;
    border: 1px solid #484848;
    border-radius: 30px;
    margin-bottom: 10px;
    transition: .5s;
}
.skills h2
{
    text-align: center;
}

.skills li:hover
{
    transform: scale(1.8);
    border-radius: 10%;
    border: 1px solid #D3E97A;
}

.aboutLink a{
    text-decoration: none;
    color: #D3E97A;
}
@media (max-width:580px) {
    h2 , h1 , p 
    {
        text-align: center;
    }
    .end , .start
    {
        width: 100%;
    }
    .nav-items , .start
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-items{
        padding: 0;
    }
    .contactIcons
    {
        justify-content: center;
    }
    .contactForm input
    {
        width: 100%;
    }
    .contactForm textarea
    {
        width: 100%;
    }
    .projectRight
    {
        padding: 0;
    }
}