.aboutContainer
{
    display: flex;
}
.aboutLeft
{
    width: 100%;
    font-weight: 500;
}
.aboutLeft h2{
    font-size: 76px;
}

.aboutTitle
{
    font-size: 25px;
}
.aboutDescription
{
    font-size: 15px;
    line-height: 25px;
}
.companyName
{
    color: #D3E97A;
}

.aboutLink a{
    text-decoration: none;
    color: #D3E97A;
}
@media (max-width:580px) {
    h2 , h1 , p 
    {
        text-align: center;
    }
    .end , .start
    {
        width: 100%;
    }
    .nav-items , .start
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-items{
        padding: 0;
    }
    .contactIcons
    {
        justify-content: center;
    }
    .contactForm input
    {
        width: 100%;
    }
    .contactForm textarea
    {
        width: 100%;
    }
    .projectRight
    {
        padding: 0;
    }
}

.projectName
{
    color: #D3E97A;
    text-decoration: none;
    transition: 1s;
}

.ProjectPara a:hover
{
    transform: scale(1.5);
}