.aboutContainer
{
    display: flex;
    padding-bottom: 200px;
}
.aboutLeft
{
    width: 100%;
    font-weight: 500;
}
.aboutLeft h2{
    font-size: 76px;
}

.aboutTitle
{
    font-size: 30px;
}
.aboutDescription
{
    font-size: 15px;
    line-height: 25px;
}

.aboutLink a{
    text-decoration: none;
    color: #D3E97A;
}
@media (max-width:580px) {
    h2 , h1 , p 
    {
        text-align: center;
    }
  
    .nav-items{
        padding: 0;
    }
    .contactIcons
    {
        justify-content: center;
    }
    .contactForm input
    {
        width: 100%;
    }
    .contactForm textarea
    {
        width: 100%;
    }
    .projectRight
    {
        padding: 0;
    }
}